/*UTILS/BASE*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  --background-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-hero-background-color: #2f303a;
  --card-set-gap: 30px;
  --duration-effect: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*COMPONETS*/
.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__web {
  color: var(--accent-text-color);
}

.modal-btn {
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  transition: color var(--duration-effect) var(--timing-function);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration-effect) var(--timing-function);
}

.social__link:focus, .social__link:hover {
  background-color: var(--accent-text-color);
}

.social__link:focus .social__icon,
.social__link:hover .social__icon {
  fill: white;
}

.social__icon {
  width: 20px;
  height: 20px;
  transition: fill var(--duration-effect) var(--timing-function);
  fill: var(--primary-text-color);
}

.social__link_grey-bg {
  transition: var(--duration-effect) var(--timing-function);
  background: rgba(255, 255, 255, 0.1);
}

.social__icon_white {
  fill: var(--white-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration-effect) var(--timing-function), visibility var(--duration-effect) var(--timing-function);
}

.modal {
  width: 100%;
  position: absolute;
  padding: 40px;
  background-color: var(--white-text-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-text-color);
  transition: fill var(--duration-effect) var(--timing-function);
}

.modal__button-close:focus, .modal__button-close:hover {
  fill: var(--accent-text-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--duration-effect) var(--timing-function);
}

.modal__input:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.modal__field {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__text-area {
  margin-bottom: 20px;
}

.modal__wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: var(--duration-effect) var(--timing-function);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-text-color);
  transition: fill var(--duration-effect) var(--timing-function);
}

.modal__message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  transition: fill var(--duration-effect) var(--timing-function);
}

.modal__message:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.modal__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: var(--accent-text-color);
  background-position: center;
  border-color: var(--accent-text-color);
  background-image: url(../images/checkbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: background-color var(--duration-effect) var(--timing-function);
}

.modal__checkbox:focus + .modal__checkbox-icon {
  border-color: var(--accent-text-color);
}

.modal__checkbox-icon:hover, .modal__checkbox-icon:focus {
  border-color: var(--accent-text-color);
}

.modal__checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 13px;
  border: 2px solid var(--title-text-color);
  cursor: pointer;
  transition: background-color var(--duration-effect) var(--timing-function), border-color var(--duration-effect) var(--timing-function);
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.modal__link {
  color: var(--accent-text-color);
}

.modal__submit {
  display: block;
  margin: 0 auto;
}

.modal__submit:hover, .modal__submit:focus {
  background: #188ce8;
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

/*LAYOUT*/
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-text-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation__list {
  display: none;
}

.site-contacts {
  display: none;
}

@media screen and (min-width: 767px) {
  .header__logo {
    padding-bottom: 25px;
    padding-top: 24px;
  }
  .logo__web {
    color: var(--accent-text-color);
  }
  .navigation .current {
    color: var(--accent-text-color);
  }
  .navigation {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.86;
    letter-spacing: 0.02em;
  }
  .navigation .list {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
  .navigation .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__item_studio::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    background-color: var(--accent-text-color);
  }
  .navigation__link {
    display: inline-block;
    padding-bottom: 32px;
    padding-top: 32px;
    color: var(--title-text-color);
    transition: color var(--duration-effect) var(--timing-function);
  }
  .site-contacts {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
  }
  .site-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .site-contacts__link {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.88;
    letter-spacing: 0.02em;
    transition: color var(--duration-effect) var(--timing-function);
  }
}

/* menu*/
.burger-btn {
  padding: 0;
  background: transparent;
  border: none;
  line-height: 0;
  cursor: pointer;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__list-social {
  flex-wrap: wrap;
}

@media screen and (min-width: 767px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-text-color);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--duration-effect) var(--timing-function), visibility var(--duration-effect) var(--timing-function);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  padding: 0;
  background: transparent;
  border: none;
  line-height: 0;
  cursor: pointer;
  transition: fill var(--duration-effect) var(--timing-function);
}

.mobile-menu__close-btn:hover,
.mobile-menu__close-btn:focus {
  fill: var(--accent-text-color);
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.navigation-mobile__list:last-child {
  margin-bottom: 0px;
}

.navigation-mobile__item {
  margin-bottom: 32px;
}

.navigation-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--duration-effect) var(--timing-function);
}

.current {
  color: var(--accent-text-color);
}

.site-contacts-mobile__item-tel {
  margin-bottom: 32px;
}

.site-contacts-mobile__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mobile-menu__item-social:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.site-contacts-mobile__item-post {
  margin-bottom: 64px;
}

.site-contacts-mobile__link-post {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  transition: color var(--duration-effect) var(--timing-function);
  color: var(--primary-text-color);
}

.mobile-menu__list-social {
  display: flex;
}

.mobile-menu__item-social:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu__link-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.social-after {
  position: relative;
  display: block;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding-bottom: 25px;
    padding-top: 24px;
  }
  .navigation .current {
    color: var(--accent-text-color);
  }
  .site-contacts {
    display: flex;
  }
  .site-contacts .site-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-contacts {
    margin-left: auto;
    flex-direction: unset;
  }
  .site-contacts__link {
    margin-bottom: 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-text-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation__list {
  display: none;
}

.site-contacts {
  display: none;
}

@media screen and (min-width: 767px) {
  .header__logo {
    padding-bottom: 25px;
    padding-top: 24px;
  }
  .logo__web {
    color: var(--accent-text-color);
  }
  .navigation .current {
    color: var(--accent-text-color);
  }
  .navigation {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.86;
    letter-spacing: 0.02em;
  }
  .navigation .list {
    display: flex;
    align-items: center;
    margin-left: 93px;
  }
  .navigation .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__item_studio::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    background-color: var(--accent-text-color);
  }
  .navigation__link {
    display: inline-block;
    padding-bottom: 32px;
    padding-top: 32px;
    color: var(--title-text-color);
    transition: color var(--duration-effect) var(--timing-function);
  }
  .site-contacts {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
  }
  .site-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .site-contacts__link {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.88;
    letter-spacing: 0.02em;
    transition: color var(--duration-effect) var(--timing-function);
  }
}

/* menu*/
.burger-btn {
  padding: 0;
  background: transparent;
  border: none;
  line-height: 0;
  cursor: pointer;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__list-social {
  flex-wrap: wrap;
}

@media screen and (min-width: 767px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-text-color);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--duration-effect) var(--timing-function), visibility var(--duration-effect) var(--timing-function);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  padding: 0;
  background: transparent;
  border: none;
  line-height: 0;
  cursor: pointer;
  transition: fill var(--duration-effect) var(--timing-function);
}

.mobile-menu__close-btn:hover,
.mobile-menu__close-btn:focus {
  fill: var(--accent-text-color);
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
}

.navigation-mobile__list:last-child {
  margin-bottom: 0px;
}

.navigation-mobile__item {
  margin-bottom: 32px;
}

.navigation-mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--duration-effect) var(--timing-function);
}

.current {
  color: var(--accent-text-color);
}

.site-contacts-mobile__item-tel {
  margin-bottom: 32px;
}

.site-contacts-mobile__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mobile-menu__item-social:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.site-contacts-mobile__item-post {
  margin-bottom: 64px;
}

.site-contacts-mobile__link-post {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  transition: color var(--duration-effect) var(--timing-function);
  color: var(--primary-text-color);
}

.mobile-menu__list-social {
  display: flex;
}

.mobile-menu__item-social:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu__link-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.social-after {
  position: relative;
  display: block;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding-bottom: 25px;
    padding-top: 24px;
  }
  .navigation .current {
    color: var(--accent-text-color);
  }
  .site-contacts {
    display: flex;
  }
  .site-contacts .site-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-contacts {
    margin-left: auto;
    flex-direction: unset;
  }
  .site-contacts__link {
    margin-bottom: 0;
  }
}

.hero {
  background-color: var(--primary-text-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/heromob@1x.jpg");
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
  }
}

.hero__alight {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px), (min-resolution: 192dpi) and (min-width: 280px), (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/heromob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/herotab1x.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/herotab2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (min-width: 1200px) {
  .hero {
    background-image: url("../images/hero/herodes1x.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 768px) and (min-resolution: 192dpi) and (min-width: 1200px), (min-device-pixel-ratio: 2) and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 768px) and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/herodes2x.jpg");
  }
}

.skills {
  padding-bottom: 60px;
}

.skills__block {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--background-color);
}

.skills__icon {
  display: flex;
  margin: auto;
  width: 70px;
  height: 70px;
}

.skills__list .skills__item {
  padding-bottom: 0;
}

.skills__item {
  margin-bottom: 30px;
}

.skills__item:last-child {
  margin-bottom: 0;
}

.skills__subtitle {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .skills__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    padding-bottom: 0;
  }
  .skills__list {
    flex-wrap: unset;
  }
  .skills__block {
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
  }
  .skills__item {
    width: 270px;
  }
  .skills__list .skills__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .specialization {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .specialization__list {
    display: flex;
  }
  .specialization__list .specialization__item:not(:last-child) {
    margin-right: 30px;
  }
  .specialization__title {
    margin-bottom: 50px;
  }
  .specialization__thumb {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .specialization__text {
    position: absolute;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: rgba(47, 48, 58, 0.8);
  }
  .specialization__sub {
    padding-top: 27px;
  }
}

.team {
  background-color: #f5f4fa;
}

.team__list:last-child {
  margin-bottom: 0;
}

.team__content {
  padding: 30px 32px;
}

.team__title {
  margin-bottom: 30px;
}

.team__subtitle {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.team__item {
  background-color: var(--white-text-color);
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: unset;
  }
  .team__list .team__item:not(:last-child) {
    margin-right: 30px;
  }
  .team__title {
    margin-bottom: 50px;
  }
  .team__item {
    flex-basis: unset;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 270px;
  }
  .team__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }
  .social {
    display: flex;
    justify-content: space-between;
  }
  .social__link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--duration-effect) var(--timing-function);
  }
  .social__link:focus, .social__link:hover {
    background-color: var(--accent-text-color);
  }
  .social__link:focus .social__icon,
  .social__link:hover .social__icon {
    fill: white;
  }
  .social__icon {
    width: 20px;
    height: 20px;
    transition: fill var(--duration-effect) var(--timing-function);
    fill: var(--primary-text-color);
  }
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.clients__company {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.clients__title {
  margin-bottom: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: background-color var(--duration-effect) var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.clients__icon {
  transition: fill var(--duration-effect) var(--timing-function);
}

@media screen and (min-width: 1199px) {
  .clients__list > .clients__company {
    flex-basis: calc(100% / 6 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
  }
  .clients__title {
    margin-bottom: 50px;
  }
  .clients__list > .clients__company:last-child {
    margin-right: 0px;
  }
}

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: var(--footer-hero-background-color);
}

.site-footer .logo {
  padding: 0;
}

.studio-word {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.adress-block {
  display: inline-flex;
  flex-direction: column;
}

.adress {
  font-style: inherit;
  margin-bottom: 60px;
}

.adress__item {
  margin-bottom: 8px;
}

.adress__mapslink {
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.71;
  transition: color var(--duration-effect) var(--timing-function);
}

.adress__link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration-effect) var(--timing-function);
}

.adress__item .footer {
  padding: 0;
  margin-bottom: 9px;
}

.adress__item:last-child {
  margin-bottom: 0px;
}

.footer-social {
  display: block;
  margin-bottom: 60px;
}

.footer-social__subtitle {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-form {
  width: 100%;
  margin-left: auto;
}

.footer-form__title {
  display: block;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-form__label:hover, .footer-form__label:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.footer-form__input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  transition: drop-shadow var(--duration-effect) var(--timing-function), border-color var(--duration-effect) var(--timing-function);
}

.footer-form__button {
  display: inline-flex;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
}

.footer-form__button:hover, .footer-form__button:focus {
  background: #188ce8;
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .site-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-form {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .site-footer {
    justify-content: space-between;
    text-align: unset;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-hero-background-color);
  }
  .site-footer__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .adress-block {
    margin-right: 70px;
  }
  .site-footer .logo {
    padding: 0;
  }
  .studio-word {
    color: var(--white-text-color);
  }
  .adress__item {
    margin-bottom: 9px;
  }
  .adress__mapslink {
    color: var(--white-text-color);
    font-size: 14px;
    line-height: 1.71;
    transition: color var(--duration-effect) var(--timing-function);
  }
  .adress__link {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--duration-effect) var(--timing-function);
  }
  .adress__item .footer {
    padding: 0;
    margin-bottom: 9px;
  }
  .adress__item:last-child {
    margin-bottom: 0px;
  }
  .footer-social {
    margin-bottom: 0;
  }
  .footer-social__subtitle {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
  }
  .social__link_grey-bg {
    transition: var(--duration-effect) var(--timing-function);
    background: rgba(255, 255, 255, 0.1);
  }
  .social__icon_white {
    fill: var(--white-text-color);
  }
  .footer-form__form {
    display: flex;
  }
  .footer-form__label:hover,
  .footer-form__label:focus {
    outline: none;
    border-color: var(--accent-text-color);
  }
  .footer-form__input {
    margin-bottom: 0;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
  }
}

.portfolio-line::after {
  content: '';
  display: block;
  width: 78px;
  height: 4px;
  background-color: var(--accent-text-color);
}

.filter__btn {
  display: flex;
  border: 0;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition: color var(--duration-effect) var(--timing-function), box-shadow var(--duration-effect) var(--timing-function), background-color var(--duration-effect) var(--timing-function);
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.filter__list > .filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter .filter__list > .filter__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

.card__link:focus, .card__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__item {
  margin-bottom: 30px;
  display: flex;
}

.card__item:last-child {
  margin-bottom: 0;
}

.card__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--duration-effect) var(--timing-function);
}

.card__img {
  width: 100%;
}

.card__content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  flex-grow: 1;
}

.card__title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .card > .card__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
  .card__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .card > .card__item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.wrapper-overlay {
  position: relative;
  overflow: hidden;
}

.wrapper-overlay__text {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--duration-effect) var(--timing-function);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.wrapper-overlay:hover .wrapper-overlay__text,
.wrapper-overlay:focus .wrapper-overlay__text {
  transform: translateY(-100%);
  overflow: auto;
}
/*# sourceMappingURL=main.css.map */