.section-clients{
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients {
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  // &__list > &__company {
  //   margin-right: 30px;
  // }

  &__company {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }

  &__title {
    margin-bottom: 30px;
  }

  // &__list > &__company:last-child {
  //   margin-right: 0px;
  // }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;

    max-width: 190px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: background-color var(--duration-effect) var(--timing-function);
  }
  &__link:hover,
  &__link:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
  }

  &__icon {
    transition: fill var(--duration-effect) var(--timing-function);
  }
}


@media screen and (min-width: 768px){

.clients__list > .clients__company{  
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);}

}
