.hero {
  background-color: var(--primary-text-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/heromob@1x.jpg');
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;


  &__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    color: var(--white-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }


  @media screen and (min-width: 1200px){
    &__title{
      font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    }}

  &__alight {
    margin-left: auto;
    margin-right: auto;
    // width: 696px;
    text-align: center;
  }

  
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 280px),
    (min-resolution: 192dpi) and (min-width: 280px),
    (min-resolution: 2dppx) and (min-width: 280px) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/heromob@2x.jpg');
    }
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
       url('../images/hero/herotab1x.jpg');
    }
  }

 
 
  @media (min-device-pixel-ratio: 2)  and (min-width: 480px) and (max-width: 768px),
    (min-resolution: 192dpi)  and (min-width: 480px) and (max-width: 768px),
    (min-resolution: 2dppx)  and (min-width: 480px) and (max-width: 768px) {
    & {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero/herotab2x.jpg');
    }}

    @media screen and (min-width: 768px) and (max-width: 1600px) {
      & {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/herodes1x.jpg');
      }
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1600px),
      (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1600px),
      (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1600px) {
      & {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url('../images/hero/herodes2x.jpg');
      }}
    
      }


