
@media screen and (max-width: 1199px){
.specialization {
  &__list {
  
    display: none;
  }

  &__title {
    display: none;

}}}




@media screen and (min-width: 1200px){

.specialization__list {
  display: flex;
}

.specialization__list .specialization__item:not(:last-child) {
  margin-right: 30px;
}

.specialization__title {
  margin-bottom: 50px;
}

.specialization__thumb {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.specialization__text {
  position: absolute;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.specialization__sub {
  padding-top: 27px;
}}