.team {
  background-color: #f5f4fa;

  &__list:last-child {
    margin-bottom: 0;
  }

  &__content {
    padding: 30px 32px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 10px;

    color: var(--title-text-color);
    @include font($fs: 16px, $lh: 1.19);
    text-align: center;
  }

  &__item {
    background-color: var(--white-text-color);
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__text {
    @include font($fs: 16px, $fw: 400, $lh: 1.19);
    text-align: center;
    margin-bottom: 16px;
  }

  &__img {
    width: 100%;
  } 

  @media screen and (min-width: 768px){

  &__list{
  
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  
  &__item{  
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    margin-bottom: 0;}
  
  }

}

@media screen and (min-width: 1200px){

  .team__list {
    flex-wrap: unset;

  }
  
  .team__list .team__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .team__title {
    margin-bottom: 50px;
  }

  
  .team__item {
    flex-basis: unset;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 270px;
 
  }
  
  .team__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }


  .social{ 
    display: flex;
    justify-content: space-between;
  
  
  &__link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--duration-effect) var(--timing-function);
  }
  
  &__link:focus,
  &__link:hover {
    background-color: var(--accent-text-color);
  }
  
  &__link:focus &__icon,
  &__link:hover &__icon {
    fill: white;
  }
  
  &__icon {
    width: 20px;
    height: 20px;
    transition: fill var(--duration-effect) var(--timing-function);
    fill: var(--primary-text-color);
  }
}
  
}