.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration-effect) var(--timing-function),
    visibility var(--duration-effect) var(--timing-function);
}
